<!DOCTYPE html>
<html>
    <body>
        <div style="width: 100%; 
                    height: 1000px; 
                    background-color: #d4d4d4">

            <div style="width: 650px; 
                        height: 300px;
                        margin: auto; 
                        background-color: #ffffff;
                        padding-bottom: 25px;">

                <div style="background-color: #0051ff; 
                            margin: auto; 
                            width: 650px; 
                            padding-top: 10px; 
                            padding-bottom: 10px; 
                            border-radius: 0px 0px 20px 20px;
                            text-align: center;">

                    <p style="font-weight: 700; font-size: 24px; color:#ffffff;">ยืนยันเพื่อลงทะเบียนเข้าใช้งาน PARKFINDER</p>
                </div>
                <div style="text-align: center; ">
                    <div style="margin-top: 20px">
                        <span style="font-weight: 700; font-size: 32px; color: #0051ff;">PARK</span>
                        <span style="font-weight: 700; font-size: 32px">FINDER</span>
                    </div>
                
                    <div style="margin-top: 10px; width: 75px; display: inline-block; height: 2px; background-color: #0051ff"></div>
                
                    <div style="margin-top: 30px;  ">
                        <a href="http://` + host + `/` + userType + `/verify_email/` + receiverEmail + `" target="_blank" style="
                            display: inline-block;
                            padding: 15px 0;
                            width: 250px;
                            border-radius: 10px;
                            text-decoration: none; 
                            font-weight: 700;
                            color: #ffffff;
                            background-color: #0051ff;">
                        ยืนยันการลงทะเบียน</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>`